{% extends 'base.html' %}
{% block title %}
Kategorije produktov
{% endblock %}


{% block pagetitle %}
Kategorije produktov
{% endblock %}

{% block entryform %}
<div class="card text-center bg-secondary" style="--bs-bg-opacity: .10;"">
    <div class=" card-body">

    {% if request.path == url_for('category_page') %}
    <form action="{{url_for('category_page')}}" method="POST">
        {% else %}
        <form action="{{url_for('category_update', id=cat.id)}}" method="POST">
            {% endif %}
            {{ cat_form.hidden_tag() }}
            <div class="form-group">
                {{ cat_form.id.label() }}
                {% if request.path == url_for('category_page'): %}
                {{ cat_form.id(class="form-control", placeholder="Category") }}
                {% else %}
                {{ cat_form.id(class="form-control", placeholder="Category", readonly="true") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ cat_form.description.label() }}
                {{ cat_form.description(class="form-control", rows="4", placeholder="Description") }}
            </div>
</div>
<div class="card-footer">
    {{ cat_form.submit(class="btn btn-primary") }}
    <button class="btn ">
        <a class="btn btn-info" href="{{url_for('category_page')}}">Prekliči</a>
    </button>
</div>
</form>
</div>
{% endblock %}

{% block tableheader %}
<th>Kategorija</th>
<th>Opis</th>
<th>Zadnja sprememba</th>
<th>Akcije</th>
{% endblock %}

{% block tablerows %}
{% for row in categories %}
<tr>
    <td>{{ row.id }}</td>
    <td>{{ row.description }}</td>
    <td>{{ row.last_update }}
        {{ row.last_user or  ""}}
    </td>
    <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn ">
                <a class="btn btn-outline-primary" href="{{url_for('category_edit', id=row.id)}}">Edit</a></button>
            <button class="btn">
                <a class="btn btn-outline-danger" href="{{url_for('category_delete',id=row.id)}}">Delete</a></button>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}